{% extends 'base.html' %} {% block title %}About{% endblock title %} {% block
body %}
<!--===== ABOUT =====-->
<section class="container-fluid">
  <div class="row">
    <div class="col-md-8 offset-2">
      <h2 class="display-4 py-5">About me</h2>

      <p class="lead mb-5">
        Hello, I am <br />A Freelance frontend developer, I am passionate about
        creating and developing web interfaces. With years of experience in web
        design and development.
      </p>

      <p class="mb-1">
        <small class="lead text-muted">05</small>
        <small class="lead text-muted">Years off Experience</small>
        <br />
        <small class="lead text-muted">29+</small>
        <small class="lead text-muted">Projects completes</small>
        <br />
        <small class="lead text-muted">07</small>
        <small class="lead text-muted">Best work awards</small>
      </p>
    </div>
  </div>
</section>
{% endblock body %}
