{% extends 'base.html' %}
{% block title %}Contact Us{% endblock title %}

{% block body %}
<div class="container">
  <div class="row">
    <div class="col-sm-8 offset-2">
      <h1 class="display-4 text-center py-5">Contact US</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 offset-2">
      <p class="lead">
        Address:
        <small class="text-muted"
          >Venkatadri IT Park, HP Avenue, Konnappana, Electronic city,
          Bengaluru, Karnataka 560069</small
        >
      </p>
      <p class="lead">Email: <small class="text-muted">hire@luxurytaxicab.com</small></h5>
      <p class="lead">
        Contact:
        <small class="text-muted">+91 98765 10278 || +91 76589 14244</small>
      </p>
      <!-- <p><iframe width="600" height="450" frameborder="0" style="border:0"
src="https://www.google.com/maps/embed/v1/place?q=place_id:ChIJtcNatvRsrjsRA38LEBPt_78&key=..." allowfullscreen></iframe></p> -->
    </div>
  </div>
</div>
{% endblock body %}
